<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatics.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--mapper의 namespace는 설정을 적용할 인터페이스를 지정함-->
<mapper namespace="com.zercok.demotest2.mapper.TodoMapper">
    <select id="getTime" resultType="string"> <!-- string은 별칭 처리가 된 상태이다!  -->
        select now();
    </select>
    <insert id="insert">
        insert into tbl_todo(title, duedate, writer) values (#{title}, #{dueDate}, #{writer});
    </insert>

    <select id="selectAll" resultType="com.zercok.demotest2.domain.TodoVO">
        select * from tbl_todo order by tno desc;
    </select>
    <select id="selectOne" resultType="com.zercok.demotest2.domain.TodoVO">
        select * from tbl_todo where tno = #{tno};
    </select>

    <update id="update">
        update tbl_todo set title=#{title}, dueDate=#{dueDate}, finished=#{finished} where tno = #{tno}
    </update>

    <delete id="delete">
        delete from tbl_todo where tno=#{tno};
    </delete>

    <select id="selectList" resultType="com.zercok.demotest2.domain.TodoVO">
        select * from tbl_todo order by tno desc  limit #{skip}, #{size}
    </select>

    <select id="getCount" resultType="int">
        select count(tno) from tbl_todo;
    </select>
</mapper>